@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define a cor base do corpo para mudar automaticamente */
body {
  @apply bg-white text-slate-900 transition-colors duration-300;
}

/* Quando a classe 'dark' entra, o corpo muda para escuro */
.dark body {
  @apply bg-slate-950 text-slate-100;
}

/* Scrollbar Bonita (Opcional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full dark:bg-slate-700;
}